{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Отчёт по посещениям страниц</h2>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Путь</th>
                <th>Количество посещений</th>
            </tr>
        </thead>
        <tbody>
            {% for item in stats %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.path }}</td>
                <td>{{ item.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
