{% extends 'base.html' %}

{% block title %}Каталог{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='catalog.css') }}">
{% endblock %}

{% block content %}
<div class="container-catalog">
    <aside class="filters">
        <h3>Фильтры</h3>
        <form method="get" action="{{ url_for('catalog.catalog') }}">
            <label><b>Цена</b></label>
            <input type="number" name="min_price" placeholder="От" value="{{ min_price or '' }}">
            <input type="number" name="max_price" placeholder="До" value="{{ max_price or '' }}">

            <label><b>Тип</b></label>
            {% for category in categories %}
            <label>
                <input type="checkbox" name="category" value="{{ category.id }}" {% if category.id|string in
                    selected_categories %}checked{% endif %}>
                {{ category.name }}
            </label>
            {% endfor %}

            <label><b>Бренд</b></label>
            {% for brand in brands %}
            <label>
                <input type="checkbox" name="brand" value="{{ brand.id }}" {% if brand.id|string in selected_brands
                    %}checked{% endif %}>
                {{ brand.name }}
            </label>
            {% endfor %}

            <button type="submit">Применить</button>
        </form>
    </aside>


    <main class="catalog">
        <h1>Каталог товаров</h1>
        <div class="products-grid">
            {% for product in products %}
            <div class="product-card">

                <a href="{{ url_for('main.product_detail', product_id=product.id) }}" class="card-link">
                    <div class="card-content">
                        <img src="{{ product.image_url or '/static/default.jpg' }}" alt="{{ product.name }}">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.category.name }}</p>
                        <p><strong>{{ product.price }} ₽</strong></p>
                    </div>
                </a>

                <form method="post" action="{{ url_for('cart.add_to_cart', product_id=product.id) }}">
                    <button type="submit" class="add-btn" title="Добавить в корзину">+</button>
                </form>

            </div>
            {% endfor %}
        </div>


        <!-- Пагинация -->
        <div class="pagination">
            {% if pagination.has_prev %}
            <a href="{{ url_for('catalog.catalog', page=pagination.prev_num, 
                    category=selected_categories, 
                    brand=selected_brands,
                    min_price=min_price,
                    max_price=max_price) }}">
                Назад
            </a>
            {% endif %}

            {% for p in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if p %}
            {% if p == pagination.page %}
            <span class="current">{{ p }}</span>
            {% else %}
            <a href="{{ url_for('catalog.catalog', page=p, 
                    category=selected_categories, 
                    brand=selected_brands,
                    min_price=min_price,
                    max_price=max_price) }}">
                {{ p }}
            </a>

            {% endif %}
            {% else %}
            <span>...</span>
            {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
            <a href="{{ url_for('catalog.catalog', page=pagination.next_num, 
                    category=selected_categories, 
                    brand=selected_brands,
                    min_price=min_price,
                    max_price=max_price) }}">
                Вперед
            </a>
            {% endif %}
        </div>

    </main>
</div>
{% endblock %}