{% extends 'base.html' %}

{% block content %}
    <h2>Введите номер телефона</h2>
    <form method="post">
        <div class="mb-3">
            <label for="phone" class="form-label">Номер телефона:</label>
            <input type="text" class="form-control {% if error %}is-invalid{% endif %}" id="phone" name="phone">
            {% if error %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Проверить</button>
    </form>
    
    {% if formatted_number %}
    <div class="alert alert-success mt-3">Форматированный номер: {{ formatted_number }}</div>
    {% endif %} 


{% endblock %}