<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Kursa Web{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body id="body">

    <header class="header">
        <div class="container header-content">
            <div class="left-links">
                <a href="/" class="site-title">Kursa Web</a>
                <nav class="main-nav">
                    <a href="/">Главная</a>
                    <a href="{{ url_for('catalog.catalog') }}">Каталог</a>
                    <a href="#footer">Контакты</a>
                </nav>
            </div>

            <!-- Центрированный поиск -->
            <form method="get" action="{{ url_for('catalog.catalog') }}" class="search-form">
                <input type="text" name="q" class="search-input" placeholder="Поиск"
                    value="{{ request.args.get('q', '') }}">
            </form>


            <nav class="nav-links">
                {% if current_user.is_authenticated and current_user.is_admin %}
                <a href="{{ url_for('admin.dashboard') }}" class="btn">Админка</a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('cart.cart') }}" class="btn">Корзина</a>
                <a href="{{ url_for('profile.profile') }}" class="btn">Кабинет</a>
                {% else %}
                <a href="{{ url_for('auth.login') }}" class="btn-outline">Войти</a>
                <a href="{{ url_for('auth.register') }}" class="btn-filled">Зарегистрироваться</a>
                {% endif %}
            </nav>
        </div>
        {% block header %}

        {% endblock %}
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    <main class="container" id="main">
    </main>
    {% endblock %}

    {% block footer %}
    <footer id="footer" class="footer">
        &copy; 2025 Kursa Web Guitar Shop Muradov Raul 231-329
    </footer>
    {% endblock %}
</body>

</html>