{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block header %}
<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>Лучшие гитары для <br>вашей музыки</h1>
        <p>Профессиональные инструменты для музыкантов любого <br>уровня. Широкий выбор, гарантия и качество.</p>
        <a href="#" class="btn-filled">В каталог</a>
    </div>
</section>
{% endblock %}

{% block content %}
<main class="container" id="main">
    <section class="container text-center section-spacing">
        <h2>Категории товаров</h2>
        <div class="form-row">
            {% for name, desc, image in [
            ('Электрогитары', '42 модели',
            'https://rockdale.ru/upload/iblock/e2e/auumor6cwcg0r2v1nwo65chaibyyhm95/A1216552241142.jpg'),
            ('Акустические гитары', '42 модели',
            'https://rockdale.ru/upload/iblock/2d4/267mzjk88lmt3t7i53hseh1qclzrvyve/A1582003255831.jpg'),
            ('Бас-гитары', '42 модели',
            'https://rockdale.ru/upload/iblock/af2/0b5159536qx56pyrfkbbu5legpb6iwuv/A1291952435571.jpeg'),
            ('Аксессуары', 'Более 100 видов',
            'https://diezshop.ru/d/alice_a007ksl_kapodastr_dlya_akusticheskoj_gitary_s_mediatorom4.webp')
            ] %}
            <div class="card guitar-category">
                <div class="card-image-placeholder">
                    <img src="{{ image }}" alt="{{ name }}">
                </div>
                <div class="card-info">
                    <strong>{{ name }}</strong><br>
                    <small>{{ desc }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="container text-center section-spacing">
        <h2>Наши преимущества</h2>
        <div class="form-row">
            {% for title, desc in [('Бесплатная доставка', 'При заказе от 5000 ₽ доставка по всей Москве бесплатно'),
            ('Гарантия качества', 'Все инструменты проходят проверку перед отправкой'),
            ('Удобная оплата', 'Оплата онлайн или при получении любым удобным способом')] %}
            <div class="card advantage">
                <strong>{{ title }}</strong>
                <p>{{ desc }}</p>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}

{% block footer %}
<section class="footer-banner">
    <div class="container">
        <h2>Ваша музыка заслуживает<br> идеального инструмента!</h2>
        <p>Откройте для себя идеальное звучание с нашей<br> коллекцией профессиональных инструментов</p>
        <a href="#" class="btn-filled">В каталог</a>
    </div>
</section>

<footer id="footer" class="footer-index">
    &copy; 2025 Kursa Web Guitar Shop Muradov Raul 231-329
</footer>
{% endblock %}